.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
  background-color: #afe5ec;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.image-position {
  margin-top: 20px;
  margin-left: 30px;
}
