.btn {
  display: inline-block;
  padding: 3px 6px;
  background-color: #444;
  color: #FFF;
  border: 1px solid #222;
  border-radius: 3px;
  text-decoration: none;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  cursor: pointer;
}